<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>edu.metrostate.ics425.atu588.hw5.controller.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MakeMoveServlet</servlet-name>
        <servlet-class>edu.metrostate.ics425.atu588.hw5.controller.MakeMoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetServlet</servlet-name>
        <servlet-class>edu.metrostate.ics425.atu588.hw5.controller.ResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameOverServlet</servlet-name>
        <servlet-class>edu.metrostate.ics425.atu588.hw5.controller.GameOverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeMoveServlet</servlet-name>
        <url-pattern>/makeMove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameOverServlet</servlet-name>
        <url-pattern>/gameOver</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>game.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>400</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>402</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>407</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>410</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>411</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>412</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>413</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>414</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>415</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>416</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>417</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>418</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>419</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>420</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>421</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>422</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>423</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>424</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>425</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>426</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>427</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>428</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>429</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>430</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>431</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>432</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>433</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>434</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>435</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>436</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>437</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>438</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>439</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>440</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>441</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>442</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>443</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>444</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>445</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>446</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>447</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>448</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>449</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>450</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>451</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>452</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>453</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>454</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>455</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>456</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>457</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>458</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>459</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>460</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>461</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>462</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>463</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>464</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>465</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>466</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>467</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>468</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>469</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>470</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>471</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>472</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>473</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>474</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>475</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>476</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>477</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>478</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>479</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>480</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>481</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>482</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>483</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>484</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>485</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>486</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>487</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>488</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>489</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>490</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>491</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>492</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>493</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>494</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>495</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>496</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>497</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>498</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>499</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>506</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>507</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>508</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>509</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>510</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>511</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>512</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>513</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>514</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>515</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>516</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>517</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>518</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>519</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>520</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>521</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>522</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>523</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>524</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>525</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>526</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>527</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>528</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>529</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>530</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>531</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>532</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>533</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>534</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>535</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>536</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>537</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>538</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>539</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>540</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>541</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>542</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>543</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>544</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>545</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>546</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>547</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>548</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>549</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>550</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>551</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>552</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>553</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>554</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>555</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>556</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>557</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>558</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>559</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>560</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>561</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>562</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>563</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>564</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>565</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>566</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>567</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>568</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>569</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>570</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>571</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>572</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>573</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>574</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>575</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>576</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>577</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>578</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>579</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>580</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>581</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>582</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>583</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>584</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>585</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>586</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>587</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>588</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>589</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>590</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>591</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>592</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>593</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>594</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>595</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>596</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>597</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>598</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>599</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
